@import "tailwindcss";

@theme {
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-indigo-500: #6366f1;
  --color-emerald-500: #10b981;
}

body {
  @apply bg-neutral-950 text-white antialiased m-0 p-0;
  font-family: 'Inter', 'Outfit', sans-serif;
}
